<tbody>
    <% if todo_item.completed? %>  
  <tr>
      <td class="text-center font-weight-light text-muted align-middle pr-0 complete-task-deco">
        <i class="text-secondary fa fa-check-circle"></i>
      </td>
      <td class="font-weight-light text-break task-content text-muted align-middle complete-task-deco">
        <s><%= todo_item.content %></s>
      </td>
      <td class="text-right align-middle complete-task-deco">
        <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: 'delete',data: {confirm: 'Are you sure?'}, class: 'trash-button' do %>
          <i class="fas fa-trash-alt complete-trash"></i>
        <% end %>
      </td>
      </tr>
    <% else %>
    <tr class="uncomplete-task-deco">
      <td class="text-center align-middle h6 pr-0">
        <%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch, class: 'check-button' do %>
          <i class="fa fa-check-circle"></i>
        <% end %>
      </td>
      <td class="text-break task-content align-middle h6">
        <%= todo_item.content %>
      </td>
      <td class="text-right align-middle">
        <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: 'delete',data: {confirm: 'Are you sure?'}, class: 'trash-button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
  </tr>
    <% end %>
</tbody>
