<div class="card-body text-center mb-3">
  <h5 class="card-title">
    <%= @todo_list.title %>
    <%= link_to edit_todo_list_path(@todo_list), class: 'edit-icon ml-1' do %>
      <small><i class="fas fa-pencil-alt"></i></small>
    <% end %>
  </h5>
  <p class="card-text">
    <%= @todo_list.description %>
  </p>
</div>

<table class="table">
  <%= render @todo_list.todo_items %>
</table>

<div class="text-center card-body">
  <%= render "todo_items/form" %>
</div>

<%= link_to 'Back', todo_lists_path, class: 'btn-light card-footer text-center text-decoration-none' %>
